<h2 class="latime">@Translate("FII LA CURENT CU NOUTĂŢILE RÂURENI!")</h2>

@GetValue("UserManagement:User.FormStart")
	<div>@Translate("You have successfully subscribed!", "Te-ai abonat cu succes!")</div>
@GetValue("UserManagement:User.FormEnd")