.container-wide
	+clearfix
	margin-bottom: $spacing
	clear: both
.gray-bg 
	background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/kindajean.png)
	padding: 2em 0 2em 0 
.container
	+container-fixed
	@media (min-width: $screen-sm-min)
		width: $container-sm
	@media (min-width: $screen-md-min)
		width: $container-md
	@media (min-width: $screen-lg-min)
		width: $container-lg
.block-header
	font-weight: 300	
	border-bottom: 4px double #333
	margin-bottom: 0.5em	
.aside
	+make-sm-column(4)
	+make-md-column(2)
.breadcrumbs
	padding: 0px $spacing
	font-size: 0.8em
	font-weight: 400
	ul
		+h-nav
	a
		color: #000
		line-height: 2.2em
		&:hover
			color: $primary
	li
		&:after
			content: "/"
			margin-left: 0.2em
			margin-right: 0.2em
			font-weight: 400			
		&:last-child:after		
			color: $primary

h1
	+special-font()
	margin: 0.2em 0
	font-size: 3em
	font-weight: 700
	color: $dark-green
	text-transform: uppercase
	@media (max-width:768px)
		font-size: 1.8em
	@media (max-width:480px)
		font-size: 1.5em	
			
				
.align-right
	text-align: right

.button-red
	+button
	background: $red
	&:hover
		background: $dark-red
		color: #fff
.button-green
	+button
	background: $green	
	&:hover
		background: $dark-green	
		color: #fff	
.reset-padding
	padding: 0



.image-box 
	width: 100%
	min-height: 615px
	margin-bottom: -615px
	img 
		height: 100%
		width: auto	
.general-paragraph
	+make-xs-column(12)	
	+make-sm-column(12)
	+make-md-column(6)		
	height: 615px
	line-height: 615px
	overflow: hidden
	float: none
	display: block
	padding: 0
	color: #fff
	width: 100%
	text-align: right
	
	.item
		width: 100%
		position: relative
		top: 50%
		transform: translateY(-50%)
		padding-left: 1em
		padding-right: 1em
		text-align: left	
		line-height: 1	
		display: inline-block

		@media (min-width: $screen-sm-min)
			padding-left: 1em
			padding-right: 1em
			width: 100%
		@media (min-width: $screen-md-min)
			padding-left: 4em
			padding-right: 4em
			width: 45%
		@media (min-width: $screen-lg-min)
			padding-left: 4em
			padding-right: 4em
			width: 45%
		.item-subtitle
			display: block
			font-size: 1.3em
			line-height: 1
			margin: 0.5em 0px 0 0
			color: #fff
			text-transform: uppercase
		.item-title
			font-size: 3.7em
			line-height: 1.2
			display: block
			text-align: left
			margin: 0.2em 0 0 0
			color: #fff
			+special-font()
		.item-details
			display: block
			font-size: 1.1em
			line-height: 1.3
			margin: 1em 0px 1.5em 0
			color: #fff		
		.item-button
			+button
			background: $green	
			&:hover
				background: $dark-green	
				color: #fff		
		&.white-text .item-subtitle, &.white-text .item-details
			color: #fff
		&.white-text .item-title
			color: #fff
					
		&.dark-text .item-subtitle, &.dark-text .item-details
			color: $dark-gray
		&.dark-text .item-title
			color: $dark-green

	.green-box
		padding: 1.5em 2em
		background: $green
		color: #fff
		width: 100%
		@media (min-width: $screen-sm-min)
			width: 100%
		@media (min-width: $screen-md-min)
			width: auto
		.item-title
			font-size: 3em	
			margin-bottom: 0.5em	
		.item-details
			font-size: 0.9em
			line-height: 1.5
		a
			color: #fff		

.container-wide .general-paragraph				
	+make-xs-column(12)	
	+make-sm-column(12)
	+make-md-column(3)	


.universal-paragraph 
	+make-xs-column(12)	
	padding: 0
	.item 
		+make-row()	
		margin: 0 0 2*$spacing 0
	.item-title
		font-size: 3.7em
		line-height: 1.2
		display: block
		text-align: left		
		color: $dark-green
		float: left	
		+special-font()
		margin: 0 0 $spacing 0	
	.item-image 
		float: left	
		margin: 0 0 2*$spacing 0
	.item-details
		display: block
		font-size: 1.1em
		line-height: 1.3
		margin: 0
		color: #000	
		float: left
		margin: 0 0 2*$spacing 0	
	
	.item-1 
		.item-title 
			width: 100%			
		.item-image 
			width: 50%
			float: left			
		.item-details
			width: 50%
			float: right	
	.item-2
		display: none
		.item-title 
			width: 50%	
			float: right		
		.item-image 
			width: 50%
			float: left			
		.item-details
			width: 50%	
			float: right
	.item-3
		display: none
		.item-title 
			width: 50%	
			float: left		
		.item-image 
			width: 50%	
			float: right		
		.item-details
			width: 50%	
			float: left
	.item-4
		.item-title 
			width: 100%			
		.item-image 
			width: 50%	
			float: right		
		.item-details
			width: 50%	
			float: left


	.item-5
		.item-title 
			width: 100%			
		.item-image 
			width: 100%	
		.item-details
			display: none
	.item-6
		.item-title 
			width: 100%			
		.item-image 
			display: none
		.item-details
			width: 100%				
	.item-7
		.item-title 
			width: 100%			
		.item-image 
			width: 100%			
		.item-details
			width: 100%			


