$blue: #00bed4
$purple: #B80EBD
$purple2: #E40AEA


$red: #ff1d25
$dark-gray: #808080
$light-gray: #b5b5b5
$green: #7a9017

$accent: $red
$grid-gutter-width: 20px
$spacing: $grid-gutter-width/2

$primary: $dark-gray
$secondary: $green