.main-nav	
	// border-bottom: 2px solid $blue
	position: relative
	background-color: transparent
	padding: 3em 0 0 0
	display: inline-block
	+make-row   //SWITCH
	ul
		+h-nav
		position: relative
		text-align: right
	ul li 
		float: none
		padding: 0 1.5em
		display: inline-block
		vertical-align: middle
	a
		+nav-level-1(transparent, $primary, transparent, $secondary)
		font-weight: 400
		padding: 0.2em 0
		font-size: 1em
		color: $light-gray
		text-transform: uppercase
		text-decoration: none
		border-bottom: 2px solid transparent
		&:hover, &.active 
			border-bottom: 2px solid $secondary

	.dropdown					
		a:after
			font-family: "FontAwesome"
			content: "\f107"
			font-size: 0.8em
			margin-left: 0.5em
	.dropdown:hover
		.dropdown-menu
			display: inline-block		
	.dropdown-menu
		display: none
		+v-nav
		+clearfix
		position: absolute
		top: 10px
		left: 0
		.level-2	
			padding: 0.2em 0 0 0		
			a
				+nav-level-2(transparent, $primary, transparent, $secondary)
				text-transform: uppercase
				font-weight: 400
				font-size: 0.9em
				padding-left: 1em
				color: $dark-gray
				&:after
					display: none
				&:hover 
					color: $light-gray			
		.level-2-container
			padding: 1em $grid-gutter-width/2
			float: left		
	.teaser
		float: left
								