.footer
	+clearfix
	margin-bottom: 1em	
	padding: 1em 0
	font-size: 0.8em
	color: $primary
	line-height: 1.5	
	.logo
		display: block
		margin: 0 0 1em 0
		width: auto	
	.social-media
		display: block
		margin: 0.5em 0 
		a
			color: $dark-gray
			display: inline-block
			margin: 0 0 0 0.5em	
	a, a:hover
		color: $secondary
	a:hover 
		text-decoration: none
			