.header
	+clearfix
	margin: 0 0 -1em 0
	z-index: 2
	position: relative
	padding: 0 0 30px 0
	background: url("/Files/Templates/Designs/Raureni/assets/img/header-bg.png") repeat-x left bottom
	.logo
		+make-md-column(6)
		padding-left: 0
		margin: 1em 0 0 0
		
	.middle
		+make-md-column(6)
		font-size: 0.9em
		padding-right: 0
		text-align: right