.home-boxes
	+make-row()
	.title
		font-weight: 300
		font-size: 1.3em
		margin-bottom: 0.5em
	img 
		margin-bottom: 1em
	.wide
		+make-sm-column(4)		
	.narrow
		+make-sm-column(2)	
	.test2
		+box-img-only()
	.test3
		+box-img-only()
	.test4
		+box-img-only()
.homepage-box		
	+make-xs-column(6)	
	min-height: 615px
	padding: 0
	color: #fff
	.content-box 
		width: 60%
		padding: 3em 4em
		.item-title
			font-size: 3.7em
			line-height: 1.2
			text-align: center
			margin: 0 0 1em 0
			color: #fff
			+special-font()
		.item-details
			display: block
			font-size: 1.3em
			margin: 0.5em 0px 1em 0
			color: #fff
		
		.item-button
			+transition(ease-in,0.5s)
			color: #fff
			background-color: $secondary
			text-align: center
			line-height: 32px	
			padding: 0.4em 1.5em	
			display: inline-block
			font-size: 1em
			font-weight: 700			
			+transition(all 0.5s ease-in)		
			
			&:hover
				text-decoration: none	
	.content-box2 
		width: 90%
		padding: 3em 4em
		.item-subtitle
			display: block
			font-size: 1.3em
			margin: 0.5em 0px 0 0
			color: $primary
		.item-title
			font-size: 3.7em
			line-height: 1.2
			text-align: center
			margin: 0 0 0 0
			color: #00800f
			+special-font()
		.item-details
			display: block
			font-size: 1.3em
			margin: 1em 0px 1.5em 0
			color: $primary
		
		.item-button
			+transition(ease-in,0.5s)
			color: #fff
			background-color: $secondary
			text-align: center
			line-height: 32px	
			padding: 0.4em 1.5em	
			display: inline-block
			font-size: 1em
			font-weight: 700			
			+transition(all 0.5s ease-in)		
			
			&:hover
				text-decoration: none	
	
.blog-title 
	+special-font()
	margin-bottom: 2*$spacing
	background: $secondary
	padding: 0.1em 1em 0.1em 1.5em
	font-size: 3.7em
	line-height: 1
	color: #fff
.blog-list
	+clearfix
	+make-row()
	.item 		
		+make-xs-column(6)
		+make-sm-column(3)
		+make-md-column(3)	
.boxes
	.item 
		padding: 0
	.item .box 
		padding: 0
		margin: 0
	.item .box a
		display: block
.homepage .box		
	margin-bottom: 0

.newsletter
	+make-row()	
	padding: 2em 3em 3em
	color: #fff
	background: $secondary
	h2 
		+special-font()
		font-size: 3.7em
	input[type="text"] 
		margin: 0 1em 0 0
		padding: 0.3em 1em
		background: #fff
		color: $primary
		width: 50% 	