<form action="/Cauta.aspx" method="GET">
  <div class="form-group">
    <span>@Translate("searching", "CAUTARE")</span>
    <input type="text" name="eComQuery" id="q" autocomplete="off" spellcheck="false" placeholder="" />
    <input type="submit" value="" />
  </div>
  <div class="instant_search"></div>
</form>