<div class="container">
  <div class="relative-box">
    <div class="col-xs-12 col-sm-3 phone">
      <h4>@GetValue("ParagraphHeader")</h4>
      <div class="number">@GetValue("ParagraphText")</div>  
    </div>
  </div>
</div>