<div class="newsletter">
  <div class="newsletter-icon">&nbsp;</div>
  <div class="newsletter-email">
    @RenderParagraphContent(GetInteger("Item.Area.NewsletterParagraph_ID"))    
  </div>
</div>

  
